body {
    margin: 3%;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    
}
.title-image{
    border-radius: 50%;
    border: 1px solid rgb(81, 127, 143);
    text-align: center;
}

#title, .subtitle, .post-title, .contact {
    color: rgb(81, 127, 143);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}


.post-title{
    font-size: 16px;
    font-style: italic;
    margin: 0%;
    margin-bottom: 1%;
    
    
}

.post{
    background-color: blanchedalmond;
    padding: 2%;
    border: 1px solid rgb(204, 169, 115);
    margin-bottom: 2%;
    border-radius: 5px;
}

.post-content{
    margin: 0%;
}

.post-image{
    margin-bottom: 1%;
}

a{
    color: rgb(81, 127, 143);
}

.contact-list{
    list-style-type: none;
    padding-left: 1.5%;
    
}